<% content_for :title, "Offline Magyar Minecraft Szerver" %>
<div id="carousel" class="carousel slide hidden-xs" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
        <li data-target="#carousel" data-slide-to="6"></li>
        <!--<li data-target="#carousel" data-slide-to="7"></li>-->
      </ol>
	  
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("http://imgur.com/eMf9Dfg.jpg", :alt => "header_picture_01") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/UHoumnu.jpg", :alt => "header_picture_02") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/vHb4AKm.jpg", :alt => "header_picture_03") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/agUU8IT.jpg", :alt => "header_picture_04") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/rDug35H.jpg", :alt => "header_picture_05") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/W49IrGe.jpg", :alt => "header_picture_06") %>
        </div>
        <div class="item">
          <%= image_tag("http://imgur.com/D6XOOgz.jpg", :alt => "header_picture_07") %>
        </div>
        <!--<div class="item">
    		  <img src="img/08.png" />
        </div>-->
      </div>
      
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
	<div class="carousel-overlay hidden-xs">
		<h1>Awaken!</h1>
		<p>A Crafters szervere újjáéledt</p>
	</div>
  <div class="mobile-cover visible-xs-block">
   <h1>Awaken!</h1>
   <p>A Crafters szervere újjáéledt</p>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Szerver</h2>
          <p class="lead">Állapot:              
            <% if @query[:online] %>
              <span class="label label-success">Online</span>
            <% else %>
              <span class="label label-danger">Offline</span>
            <% end %>
          </p>
          <% if @query[:online] %>
          <p>Online játékosok: 
            <%= @query[:numplayers] %>
          </p>
          <% end %>
          <p>
            IP: <span class="label label-default">mc.craftershun.hu</span>
          </p>
        </div>
        <div class="col-md-4">
          <h2>Aktuális</h2>
          <% if @news %>
            <div class="div-link">
              <p class="lead"><%= @news.title %></p>
              <%= link_to news_path do %>
                <span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;"></span>
              <% end %>
              <div class="fr-view">
                <%= truncate_html(@news.body, length: 400, omission: "... (kattints a folytatáshoz)").html_safe %>
              </div>
            </div>
          <% end %>
       </div>
        <div class="col-md-4">
          <h2>Hasznos Linkek</h2>
          <!--<p><a class="btn btn-default btn-block" href="https://www.youtube.com/watch?v=GpCKaHsr59Y" role="button"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Videó a piac használatáról</a></p>-->
          <p><a class="btn btn-default btn-block" href="https://minecraft.net/en/download/" role="button" target="_blank"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Eredeti minecraft</a></p>
          <p><a class="btn btn-default btn-block" href="http://teamshiginima.com/update/3100.php" role="button" target="_blank"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Tört minecraft</a></p>
          <p><a class="btn btn-default btn-block" href="http://java.com/en/" role="button" target="_blank"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Java</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Crafters</p>
      </footer>
    </div> <!-- /container -->
