<% content_for :title, "Regisztráció" %>
<div class="container">
  <div class="row">
    <h1>Regisztráció</h1>
	  <div class="container">
      <%= form_for :user, url: {action: :create}, method: :post, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group has-feedback <% unless @user.errors.messages[:username].blank? %> has-error <% end %>">
          <%= f.label "Felhasználónév", for: "user_username", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :username,  class: "form-control" %>
            <p class="help-block"><%= @user.errors.messages[:username][0] %></p>
            <p class="help-block">A játékban használt felhasználóneved add meg!</p>
          </div>
        </div>
        <div class="form-group has-feedback <% unless @user.errors.messages[:email].blank? %> has-error <% end %>">
          <%= f.label "Email" , for: "user_email", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :email,  class: "form-control" %>
            <p class="help-block"><%= @user.errors.messages[:email][0] %></p>
          </div>
        </div>
        <div class="form-group has-feedback <% unless @user.errors.messages[:birthdate].blank? %> has-error <% end %>">
          <%= f.label "Születési dátum" , for: "user_birthdate", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="form-group-row">
              <div class="col-sm-2" style="padding-left: 0px">
                <%= f.date_select :birthdate, {start_year: 1950, end_year: 2016, date_separator: "</div><div class=\"col-sm-2\">"},{class: "form-control"} %>         
            <p class="help-block"><%= @user.errors.messages[:birthdate][0] %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback <% unless @user.errors.messages[:password].blank? %> has-error <% end %>">
          <%= f.label "Jelszó", for: "user_password", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password,  class: "form-control" %>
            <p class="help-block"><%= @user.errors.messages[:password][0] %></p>
          </div>
        </div>
        <div class="form-group has-feedback <% unless @user.errors.messages[:password_confirmation].blank? %> has-error <% end %>">
          <%= f.label "Jelszó újra", for: "user_password_confirmation", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation,  class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Regisztrálok", class: "btn btn-default" %>
            <p class="help-block">A gombra kattintva elfogadod az <%= link_to "adatvédelmi nyilatkozatot", static_pages_privacy_policy_path, target: "_blank" %>.<br/>
            <strong>Ellenőrizd az adataid helyességét, mert később csak az email címed fogod tudni módosítani!</strong></p>
          </div>
        </div>
      <% end %>
	  </div>
  </div>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

