<%= content_for(:title, "Whitelist") %>
<div class="container">
  <div class="row">
	<h1>Whitelist</h1>
	<div class="container container-narrow">
    <% if @current_user %>
      <% if @current_user.isonwhitelist %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span class="bigger-text">Már rajta vagy a whitelisten. Menj játszani! IP: <code>crafters.no-ip.org</code><br/>
            <strong>Első belépéskor nem fog felengedni. Próbáld újra 15-20 perc múlva, akkor már működni fog</strong></span>
          </div>
        </div>
      <% else %>
        <% if @current_user.email_confirmed %>
          <p class="bigger-text">Még nem vagy rajta a whitelisten, az alábbi gombbal jelentkezhetsz: <br/>
          <small>Első belépéskor nem fog felengedni. Próbáld újra 15-20 perc múlva, akkor már működni fog</small></p>
          <%= button_to "Jelentkezem",  whitelist_apply_path, class: "btn btn-default" %> 
        <% else %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <span class="bigger-text">Még nem igazoltad vissza az email címed. Igazold vissza a jelentkezés előtt!</span>
            </div>
            <div class="panel-body">
              <ul style="margin-bottom: 0">
                <li><%= link_to "Aktiváló email újraküldése", confirm_email_resend_path(@current_user) %></li>
                <li><%= link_to "Email cím módosítása", show_user_path(@current_user) %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %> 
    <% else %>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="bigger-text">A whitelistre való jelentkezéshez először <%= link_to "regisztrálj", new_user_path %> az oldalon, vagy <%= link_to "jelentkezz be", static_pages_login_path %>!</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

