<% content_for :title, "Új hír" %>
<% content_for :extra_head_tags, "" %>
<div class="container">
  <div class="row">
    <h1>Új hír</h1>
	  <div class="container">
      <%= form_for :news, url: {action: :create}, method: :post, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group has-feedback <% unless @news.errors.messages[:title].blank? %> has-error <% end %>">
          <div class="col-sm-10">
            <div class="input-group">
              <%= f.text_field :title,  class: "form-control" %>
              <span class="input-group-addon">
                <%= f.check_box :important, "aria-label": "important" %> Fontos
              </span>
              <span class="input-group-addon">
                <%= f.check_box :stickied, "aria-label": "stickied" %> Rögzített
              </span>
            </div>
            <p class="help-block"><%= @news.errors.messages[:title][0] %></p>
          </div>
          <div class="col-sm-2">
            <%= f.submit "Új hír létrehozása", class: "btn btn-primary" %>
          </div>
        </div>
        <div class="form-group has-feedback <% unless @news.errors.messages[:body].blank? %> has-error <% end %>">
          <div class="col-sm-12">
            <%= f.text_area :body %>
            <p class="help-block"><%= @news.errors.messages[:body][0] %></p>
          </div>
        </div>
        <%= f.hidden_field :user_id, value: @current_user.id %>
      <% end %>
	  </div>
  </div>

  <script>
    $(function() {
      $('#news_body').froalaEditor({
        height:500  
      })
    });
    document.addEventListener("turbolinks:load", function() {
      $(function() {
        $('#news_body').froalaEditor({
          height: 500
        })
      });
    })
  </script>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

